name: OWASP ZAP Scan

on:
  push:
    branches: [main]

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Run OWASP ZAP Full Scan
        uses: zaproxy/action-full-scan@v0.13.0
        with:
          target: "https://dominos.vn/"
          cmd_options: "-j -m 2"
          allow_issue_writing: false

      - name: Write Google credentials
        run: |
          echo '${{ secrets.GOOGLE_SHEETS_CREDENTIALS }}' > credentials.json

      - name: Report results to Google Sheets
        run: node scripts/reportZap.js
